{% extends "base.html" %}
{%  block Title %} {{ Title }} {% endblock %}
{%  block Content %}

  <div class="container row justify-content-center ">
    <div class="d-flex flex-wrap justify-content-center">
        <h1 class="text-black-50 display-5 p-2"> {{ Title }}</h1>
    </div>
    <br>
    <div class=" ps-5 ms-5">
        <h4><span class="fs-5 fw-light">By </span> {{ Author }}</h4>
        <h4><span class="fs-5 fw-light">In </span> {{ Language }}</h4>
        {% if HasTranslator %}
          <h4><span class="fs-5 fw-light">Translated by</span> {{ Translator }} </h4>
        {% endif %}
    </div>
    <br>

    <div class="d-flex flex-wrap p-1 m-1 justify-content-center">
        <h4 class="mt-2">
            Tags:
        </h4>
      {% for tag in tag_list %}
        <div class="d-block card shadow-sm m-2 p-2 border border-info rounded-3 border-2"
             style="max-width: 22rem; height: 2rem">
            <h6 class="m-0 fw-bolder text-truncate text-dark position-relative top-50 start-50 translate-middle ">{{ tag }}</h6>
        </div>
      {% endfor %}
    </div>
    <div class="row col-9">
        <table class="table table-hover p-2 ">
          <thead>
            <tr>
                <th class="fs-3 fw-normal text-muted">Index</th>
            </tr>
          </thead>
          <tbody class=" bg-light">
            {% for chap in Chap_Titles %}
              {% if chap.1 == -1 %}
                <tr class="border-bottom border-dark"><th class="text-dark">{{ chap.0 }}</th></tr>
              {% else %}
                <tr class="border-bottom "><td class="p-0" ><a class=" nav-link width-100 height-100 text-primary  " href="/book/{{ book_id }}/{{ chap.1 }}"> {{ chap.0 }} </a></td></tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
{% endblock %}