<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Title }}</title>
</head>
<body>
<header>
    <h3> GutenReader </h3>
</header>
<div>
    <h4>
        {{ Title }} Index
    </h4>
    <p>By {{ Author }}, in {{ Language }}</p>

    <table>
      <tr>
        <th>Chapters</th>
      </tr>
        
        {% for chap in Chap_Titles %}
        <tr>
            <td><a href="/book/{{ book_id }}/{{ chap.1 }}"> {{ chap.0 }} </a></td>
        </tr>
        {% endfor %}
    </table>
        
</div>

</body>
</html>