{% extends "base.html" %}
{%  block Title %} {{ Title }} {% endblock %}
{%  block Content %}
  <div class="col-11 px-lg-5 px-md-3 px-sm-2 px-1 py-4">
    <h1 class="text-muted text-center mb-2"> {{ book.title }}</h1>

    <div class="btn-toolbar justify-content-between pt-2">
        <div class="btn-group ps-lg-5 ps-2 float-start">
            <a  class="btn btn-outline-primary "  href="{{ book.get_absolute_url }}">Index</a>
        </div>
        <div class="btn-group  pe-lg-5 pe-2 float-end" role="group" aria-label="Previous, Next Links">
            <a  class="btn  btn-outline-primary{% if has_prev_chapter %}"  
                href="{{ book.get_absolute_url }}{{ chapter_id_prev }}" {% else %}disabled"{% endif %}>Prev</a>
            <a  class="btn  btn-outline-primary{% if has_next_chapter %}"  
                href="{{ book.get_absolute_url }}{{ chapter_id_next }}" {% else %}disabled"{% endif %}>Next</a>
        </div>
    </div>
        <hr>

    
        <div class="mt-2 ">

            {{ Content | safe}}
        </div>
    <div class="btn-group pe-lg-5 pe-2 mb-2 float-end" role="group" aria-label="Previous, Next Links">
        <a  class="btn btn-outline-primary{% if has_prev_chapter %}"  
                href="{{ book.get_absolute_url }}{{ chapter_id_prev }}" {% else %}disabled"{% endif %}>Prev</a>
        <a  class="btn btn-outline-primary{% if has_next_chapter %}"  
                href="{{ book.get_absolute_url }}{{ chapter_id_next }}" {% else %}disabled"{% endif %}>Next</a>
    </div>
  </div>

{% endblock %}