{% extends "base.html" %}
{% load bootstrap_icons %}
{% load humanize %}
{%  block Title %} {{ Title }} {% endblock %}
{%  block Content %}
    <h2 class="text-center pt-3 pb-1 text-primary-emphasis display-5">
      {{ page_header }}
    </h2>
    <hr class="w-75">
    <div class="container-fluid col-10-md pb-2"
         style="min-height: 40rem;">
        <div class="row flex-wrap justify-content-center mx-auto">
          {% for book in books %}
            <div class="col-2-sm card mx-1 my-2 m-md-2 m-3 p-1 shadow-md bg-light border-white border-2 rounded-4" 
                 style="width: 16rem; height: 8.5rem;">
              <div class="card-body p-1 px-2">
                <a class="text-decoration-none" 
                   href="{{ book.get_absolute_url }}">
                    <h5 class="card-title text-primary-emphasis">
                        {{ book.title }}
                    </h5>
                </a>
                <h6 class="card-subtitle mb-1 ms-3 text-dark-emphasis">
                    {{ book.author }}
                </h6>
                <h6 class="card-subtitle mt-1 text-dark text-end position-absolute bottom-0 end-0 mx-2 mb-2">
                  {{ book.view_count|intcomma }}
                  {% bs_icon 'eye' size='1em' color='#f55f2d' extra_classes="bi-valign-bottom"%}
                </h6>
                <h6 class="card-subtitle mt-1 text-end position-absolute bottom-0 start-0 mx-2 mb-2">
                  <a class="btn btn-outline-primary rounded-3" 
                     href="{{ book.get_absolute_url }}1">
                    Part 1
                  </a>
                </h6>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>
{% endblock %}